/* html {
  touch-action: none;
} */

body {
  overflow: hidden;
}

svg g:hover {
  background-color: yellow;
}

.option:hover {
  color: red;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-gap: 10px;
  grid-auto-rows: 100vh;
}

.mainEvent {
  grid-column: 1;
  grid-row: 1;
  margin: 0 auto;
}

.sidebar {
  grid-column: 2;
  grid-row: 1;
}

.toolpaths {
  display:flex;
  flex-direction:row;
}

/* style={{border: "1px solid #cccccc"}} */
